@font-face {
  font-family: 'DKOtago';
  src: url("../dafont/DKOtago.otf");
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #413F42;
  color: #413F42;
}

h1, h2, h3 {
  /* font-family: 'Montserrat', sans-serif; */
  font-family: 'DKOtago';
  font-weight: bold;
}

p {
  font-family: 'Source Sans Pro', sans-serif;
}

/*
nav ul a:hover {
  box-shadow: 0px 4px 0px 0px red;
} */
/*-----------Navigation Section------------- */
#navbar-name {
  color: #CF4647;
  font-size: 1.5rem;
}

.btn:hover {
  color: #fff;
}

.form-control {
  border: 1px solid #CF4647;
}

.input-text:focus {
  box-shadow: 0px 0px 0px;
  border-color: #CF4647;
  outline: 0px;
}

.input-group {
  font-family: 'Source Sans Pro', sans-serif;
  max-width: 300px;
}

.navbar {
  font-family: DKOtago, sans-serif;
  background-color: white;
}

.nav-item {
  padding: 0 0.5rem;
}

.nav-item>.active {
  border-bottom: solid;
  border-color: #CF4647;
}

.nav-link {
  color: #CF4647;
}

.nav-item:last-child {
  margin-right: 1rem;
}

/* ---------------Featured Section------------ */
#featured {
  margin: 6rem 1.5rem 1.5rem 1.5rem;
  background-image: url("../img/feat-bg.jpg");
  /* background-color: #F5D061; */
  background-size: contain;

}

.a-featured:hover {
  color: white;
  font-weight: bold;
  text-decoration: underline;
}

#featured .carousel-item {
  padding: 0 10%;
  height: 350px;
}

#featured .carousel-control-next, #featured .carousel-control-prev {
  width: 10%;
}

#featured .carousel-item .d-flex {
  display: inline-grid !important;
  align-content: center;
}

#featured .grid-container {
  display: grid;
  grid-template-columns: auto 30%;
  gap: 20px;
}

#featured .grid-item.text {
  padding-top: 7%;
}

/* ----------------Movie Listings---------------- */
#movie-list {
  height: 600px;
  background-color: #CF4647;
  padding-top: 3rem;
  margin-bottom: 2rem;
}

.now-showing{
  color: white;
  text-align: center;
  padding-bottom: 1rem;

}

.glow {
  color: white;
  text-align: center;
  padding-bottom: 1rem;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0;
  }

  to {
    text-shadow: 0 0 10px #F5D061, 0 0 20px #F5D061;
  }
}

.scroll-tray {
  white-space: nowrap;
}
.scroll-tray div {
  display: inline-block;
}

.scroll-tray img {
  border-radius: 0.3rem;
  margin: 7px 5px;
  padding: 0;
  width: 340px;
}

.scroll-holder {
  overflow-x: hidden;
}

.scroll-holder .scroll-tray:first-child {
  animation: scroll-tray-hero 180s linear infinite;
}

.scroll-holder .scroll-tray:last-child {
  animation: scroll-tray-hero 120s linear infinite;
}

@keyframes scroll-tray-hero {
  0% {
    transform: translateX(0);
  }

  99.99% {
    transform: translateX(-7098px);
  }

  100% {
    transform: translateX(0);
  }
}

.center-btn{
  text-align: center;
  padding: 1rem 1rem 3rem 0;
}

/*--------------Private Screening---------------- */
#private-screen .container-fluid {
  background-color: #fff;
  color: #413F42;
  padding: 2%;
  margin-bottom: 2%;
}

.inverted {
  background:
    linear-gradient(-45deg, #F5D061 40%, white 0 60%, #F5D061 0) right/300% 100% no-repeat,
    linear-gradient(-45deg, white 40%, #F5D061 0 60%, white 0) right/300% 100% no-repeat;
  -webkit-background-clip: text, padding-box;
  background-clip: text, padding-box;
}

.inverted:hover {
  background-position: left;
  transition: 0.8s
}

/* --------About Us Section-------------------- */
#about-us {
  /* background-color: #F5D061; */
  /* background-image: url("../images/gold-black-banner.png"); */
  background-size: contain;
}
#about-us .container {
  padding: 2% 15%;
}

.icon {
  color: #CF4647;
  margin-bottom: 1rem;
}

#about-us p {
  text-align: justify;
  color: #413F42;
}

#about-us .col-item{
  border-radius: 5%;
  margin-bottom: 2rem;
  padding: 5rem;
  border-style: dotted;
  border-width: 1rem;
  border-color: #F5D061;
}

#about-us .row {
  text-align: center;
}

.learn-more {
  color: #919190;
  text-decoration: none;
  transition: background-color .5s;
}

.learn-more:hover {
  color: #919190;
  background-color: gold;
}

/* --------------Footer-------------- */
#copyright {
  padding-top: 1rem;
  font-size: 14px;
  color: #eee;
}

#footer {
  background-color: #CF4647;
  text-align: center;
  padding: 1rem;
  color: white;
}

.footer-icon {
  margin-left: 30px;
}

.a-footer {
  color: white;
  text-decoration: none;
}

.a-footer:hover {
  color: gold;
  transition: 0.5s;
}
